.loadingContainer{
    display: flex;
    flex-direction: column;
    /* width: 30rem; */
    gap: 1.5rem;
}
.loadingTodo{
    width: 30rem;
    height: 7rem;
    border-radius: 1rem;
    background:linear-gradient(0deg,rgba(250,250,250,1),rgb(200,199,199)) ;
    animation: loadingAnimation 3s ease-in-out infinite;
    margin-top: 1rem;
}
@keyframes loadingAnimation {
    0%,100%{
        opacity: 100%;
    }
    50%{
        opacity: 0%;
    }
    
}
/* media queries */
@media (min-width:420px) {
    .loadingTodo{
        width: 36rem;
    }
    
}

@media (min-width:600px) {
    .loadingTodo{
        width: 40rem;
    }
}

@media (min-width:1250px) {

}