/* TodoLoading */
.loadingContainer{
    display: flex;
    flex-direction: column;
    /* width: 30rem; */
    gap: 1.5rem;
}
.loadingTodo{
    width: 30rem;
    height: 7rem;
    border-radius: 1rem;
    background:linear-gradient(0deg,rgba(250,250,250,1),rgb(200,199,199)) ;
    animation: loadingAnimation 3s ease-in-out infinite;
    margin-top: 1rem;
}
/* LoadingSpinner */
.loader-container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}
.spinner{
  width: 6.4rem;
  height: 6.4rem;
  border: 1rem dashed;

  border-color:#9C2CF3 ;
  /* border-color:#3A49F9 ; */

  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}
.loader-container h3{
    font-size: 1.8rem;
}


/* animations */
@keyframes loadingAnimation {
    0%,100%{
        opacity: 100%;
    }
    50%{
        opacity: 0%;
    }
    
}
@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

/* media queries */
@media (min-width:420px) {
    .loadingTodo{
        width: 36rem;
    }
    
}

@media (min-width:600px) {
    .loadingTodo{
        width: 40rem;
    }
}

@media (min-width:1250px) {

}